{% load i18n %}

{% block subject %}
{% blocktrans %}إعادة ضبط كلمة المرور{% endblocktrans %}
{% endblock subject %}

{% block html_body %}
<style>
    body {
        direction: rtl;
        text-align: right;
    }
</style>
<p>{% blocktrans %}تم طلب تجديد كلمة المرور لحسابك. اضغط على الرابط لتجديد كلمة المرور.
    {% endblocktrans %}</p>

<a href="https://iqtinaaart.com/{{ url|safe }}">تغيير كلمة المرور</a>
<p>{% trans "اذا لم تقم بطلب تغيير كلمة المرور, من فضلك قم بتجاهل هذه الرسالة" %}</p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}فريق اقتناء{% endblocktrans %}</p>
{% endblock html_body %}